@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'vv';
        src: url("/static/vermin_vibes_1989.ttf");
    }
}


@layer utilities {
    .pixelated {
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
    }
}