@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'nokia';
        src: url("/static/nokiafc22.ttf");
    }
    @font-face {
        font-family: 'w95fa';
        src: url("/static/w95fa.woff2");
    }
}


@layer utilities {
    .pixelated {
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
    }
}